<!DOCTYPE <!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <header>
      <div class="leftsection">
        <h1>
          <a href="https://www.etsy.com/?ref=lgo"><img src="https://www.etsy.com/assets/dist/images/etsylogo.20150106184300.png" alt="Etsy Logo"></a>
        </h1>
      </div>
      <div class="right-section">
        <li class="first-two-right">
          <a href="https://www.etsy.com/help?ref=hdr">Help</a>
        </li>
        <li id="register" class="first-two-right">
          <a href="https://www.etsy.com/join?ref=hdr&from_page=https://www.etsy.com/search">Register</a>
        </li>
        <li id="sign-in"class="sign-in-button">
          <a href="https://www.etsy.com/signin?ref=hdr&from_page=https://www.etsy.com/search">Sign In</a>
        </li>
      </div>
    </header>


    <footer>
      <div class="top-footer">
        <li class="region">
          <a href="https://www.etsy.com/search?q=hello#region-select"><img src="http://agconexus.agconexusinc.netdna-cdn.com/wp-content/uploads/2013/02/Globe.png">United States</a>
        </li>
        <li class="language">
          <a href="https://www.etsy.com/search?q=hello#language-select">English (US)</a>
        </li>
        <li class="currency">
          <a href="https://www.etsy.com/search?q=hello#currency-select">$ USD</a>
        </li>
      </div>
      <div class="lower-footer">
        <li class="copyright">
          <p>&copy 2015 Etsy, Inc.</p>
        </li>
        <li class="terms">
          <a href="https://www.etsy.com/help/article/479/?ref=ftr">Terms</a>
        </li>
        <li class="privacy">
          <a href="https://www.etsy.com/help/article/480/?ref=ftr">Privacy</a>
        </li>
        <li class="copyright">
          <a href="https://www.etsy.com/help/article/482/?ref=ftr">Copyright</a>
        </li>
        <li class="ads">
          <a href="https://www.etsy.com/help/article/3293?ref=ftr">Internet Based-Ads</a>
        </li>
      </div>
    </footer>
      <% if @results%>
        <ol>
          <% @results.each do %>
            <li><%= @results %></li>
          <% end %>
        </ol>
      <% end %>

  </body>
</html>









<!-- <div class="homebutton">
          <a href="https://www.etsy.com/?ref=hdr" title="Home"><img src="http://www.veryicon.com/icon/png/System/ClearBlack/Black%20Home.png" alt="Home button"></a>
          <span class="textlink">
            <span class="testlinkcopy">
              Home
            </span>
          </span>
        <div class="favoritesbutton"
          <a href=
        </div> -->
