/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body {
  padding: 0;
  margin: 0;
}

body {
  background-color: #f5f5f1;
}

body {
  font-family: "Arial", "Helvetica";
  font-size: 12px;
  text-align: center;
  display: block
}

header {
  position: relative;
  width: 100%;
  background: #FFFFFF;
  border-bottom: 0 solid;
}

li {
  list-style-type: none;
}

ul {
  list-style-type: none;
}

.sidebar {
  margin-right: 15px;
  margin-left: 15px;
  width: 200px;
  background-color: #FFFFFF;
  float: left;
  height: 1000px;
  margin-top: 15px;
}

.entire-header {
  width: 1000px;
  height: 80px;
  padding: 0 10px 0;
  text-align: left;
}

.leftsection{
  float: left;
  width: 75px;
  margin-right: 20px;
  margin-left: 20px;
}

.leftsection #etsy-logo {
  width: 75px;
  height: 36px;
  margin-top: 5px;
  margin-left: 140px;
}

.search-bar-wrap {
  float: left;
  margin-top: 22px;
  position: absolute;
  margin-left: 240px;
}

#search-form {
  float: left;
  width: 94%;
  height: 80px;
  margin-left: 20px;
}

.search-bar{
  float: left;
  height: 31px;
  font-size: 17px;
  margin-left: 3px;
  width: 215px;
}

.search-button {
  float: right;
  background-color: #398a9d;
  padding: 7px, 15px, 8px;
  color: #fff;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 17px;
  border-radius: 1px;
  border: 1px, solid #1A87B9;
  border-color: #54acc7 #4ca0ba #398a9d;
  text-align: center;
  z-index: 10;
}


.right-section {
  float: right;
  margin: 0;
  height: 60px;
  width: 250px;
  margin-right: -150px;
}

#sign-in {
  float: right;
  margin-left: 100px;
  margin-top: -15px;
}

#register{
  float: right;
  margin-top: 18px;
  margin-right: 40px;
  width: 115px;
}

#help-button {
  float: left;
  margin-top: 18px;
}

.itemboxes {
  width: 240px;
  height: 250px;
  margin-right: 28px;
  margin-bottom: 18px;
  float: left;
  list-style: none;
  border: 1px solid;
  background-color: white
}

.image {
  width: 214px;
  height: 170px;
  margin-left: 13px;
}

#footer {

}

.top-footer{
  display: inline-block;
  margin-top: 300px;
  margin-right: 250px;
}

.currency {
  float: left;
  margin: 19px;
}

.language{
  float: left;
  margin-top: 19px;
}

.region{
  float: left;
  padding: 15px;
}

#world-image{
  height: 15px;
  width: 20px;
}

.lower-footer {
  display: inline-block;
  width: 450px;
  margin-right: 100px;
}

.ads {
  float: left;
  margin-top: 12px;
  margin-right: 20px;
}

.copyright-two {
  float: left;
  margin-top: 12px;
  margin-right: 20px;
}

.privacy{
  float: left;
  margin-top: 12px;
  margin-right: 20px
}

.terms {
  float: left;
  margin-top: 12px;
  margin-right: 20px;
}

.copyright {
  float: left;
  padding-right: 20px;
}





























































